{% include partials/header.html %}

  <h1 class="display-5 mb-4 text-break">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.lang[site.conference.lang].speaker.overview | default: "Speakers" }}
    {% endif %}
  </h1>

  {{ content }}

  <div class="">
  {% assign speakers = site.speakers | sort_natural: 'last_name' %}
  {% for speaker in speakers %}
    {% unless speaker.hide %}
      <div class="d-flex align-items-center py-3">
        <div class="flex-shrink-0">
            <a href="{{ speaker.url | prepend: site.baseurl }}">
                <img src="{{ site.baseurl }}/assets/images/{% if speaker.img %}speaker_thumbs/{{ speaker.img | replace: 'jpg', 'png' }}{% else %}speaker_placeholder.jpg{% endif %}" class="rounded" alt="{{ speaker.first_name }} {{ speaker.last_name }}">
            </a>
        </div>
        <div class="m-3">
          <h5>
            <a href="{{ speaker.url | prepend: site.baseurl }}" class="text-decoration-none">
                {{ speaker.prefix }} {{ speaker.first_name }} {{ speaker.last_name }}
            </a>
          </h5>
          <p class="text-muted mb-0">{{ speaker.position }} <br/> {{ speaker.institution }}<br/> <b>{{speaker.talk }}</b></p>
        </div>
      </div>
      {% unless forloop.last %}
        <hr class="my-0">
      {% endunless %}
    {% endunless %}
  {% endfor %}
</div>

{% include partials/footer.html %}
